<div class="container">
  <div class="row">
    <div class="col text-center">
      <img class="img-thumbnail rounded-circle" width="200" height="200" src="img/me.jpg" alt="Anif">
      <h1>Hi, I'm Anif</h1>
      <p>FOSS enthusiast, and be a best programmer has ever lived</p>
    </div>
  </div>
</div>
